<div class="container">

    <div id="header" class="row">
        <img id="logo" src="/assets/images/flavorway-logo.png" width="100px" height="auto">
    </div>

    <div class="row">
        <div class="flavor-section col s12 m3">
            <div id="flavor-feed" class="column-box deep-purple accent-3 white-text z-depth-2">
                Flavor-feed
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flavor-section col s4 m3">
            <div id="flavorites" class="column-box deep-purple accent-3 white-text z-depth-2">
                Flavorites
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flavor-section col s4 m3">
            <div id="your-flavors" class="column-box deep-purple accent-3 white-text z-depth-2">
                Your Flavors
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
                <div class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="row flavor-content">
                        <div class="col s12 m4">
                            <a class="tooltipped" data-position="right" data-tooltip="Flavor Description."><img src="http://via.placeholder.com/40x40"></a>
                        </div>
                        <div class="col s12 m8">
                            <p>Flavor Title</p>
                            <p>by Flavor Creator</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4 m3">
            <div class="flavor-section column-box deep-purple accent-3 white-text z-depth-2">
                Sign in / Register
                <div id="signin-field-areas" class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="input-field deep-purple-text text-lighten-3">
                        <input id="username" type="text" class="validate">
                        <label id="username-label" for="username" data-error="wrong" data-success="right">Username</label>
                    </div>
                    <div class="input-field deep-purple-text text-light-3">
                        <input id="password" type="password" class="validate">
                        <label id="password-label" for="password" data-error="wrong" data-success="right">Password</label>
                    </div>
                </div>
            </div>
            <div class="flavor-section column-box deep-purple accent-3 white-text z-depth-2">
                Create a flavor!
                <div id="create-field-areas" class="flavor-box card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <div class="input-field deep-purple-text text-lighten-3">
                        <input placeholder="Flavor Name" id="flavor-name-input" type="text" class="validate">
                        <input placeholder="Flavor Description" id="flavor-description-input" type="text" class="validate">
                        <input placeholder="Flavor Image (url)" id="flavor-image-input" type="text" class="validate">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
