<div class="container">

    <div id="header" class="row">
        <img id="logo" src="/assets/images/flavorway-logo.png" width="100px" height="auto">
    </div>

    <div class="row">
        <div class="col s12 m4">
            <div class="column-box deep-purple accent-3 white-text z-depth-2">
                Your friends' flavors
                <div class="card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <h6>Flavor Title</h6>
                    <p>Flavor Description</p>
                    <img src="http://via.placeholder.com/100x100">
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="column-box deep-purple accent-3 white-text z-depth-2">
                Your flavors
                <div class="card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <h6>Flavor Title</h6>
                    <p>Flavor Description</p>
                    <img src="http://via.placeholder.com/100x100">
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="column-box deep-purple accent-3 white-text z-depth-2">
                Create a flavor!
                <div class="card-panel white deep-purple-text text-lighten-3 z-depth-0">
                    <h6>Flavor Title</h6>
                    <p>Flavor Description</p>
                    <img src="http://via.placeholder.com/100x100">
                </div>
            </div>
        </div>
    </div>

</div>
